.btn-group {
    margin-top: 10px;
}
.text-center {
    margin-left: 500px;
    margin-top: 50px
}

table {
    margin-top: 15px;
  }
  
  .rounded-circle {
    max-height: 50px;
  }
  
  .table > tbody > tr > td {
    vertical-align: middle;
  }
  